footer.pt-5.pb-2
  .container
    .text-right
      small.text-muted
        | This site runs on GAS (donations): 
        samp.ml-1 AdMuBsegpcFkFZ8HyLWrJ3wSifCx3H5k8p
script(type='text/javascript', src='/js/jquery-3.2.1.min.js')
script(type='text/javascript', src='/js/popper.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/moment.min.js')