meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title= title
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(property='og:title', content= title)
meta(property='og:description', content= description)
meta(property='og:url', content= url)
meta(property='og:site_name', content= title)
link(rel='manifest', href='site.webmanifest')
link(rel='apple-touch-icon', href='icon.png')
link(rel='icon', href='/imgs/favicon.ico')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:300,400')
link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap4-business-tycoon.min.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-105416885-2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-105416885-2');