header(role='navigation').bg-dark
  .container
    nav.navbar.navbar-dark.navbar-expand-md
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        .navbar-nav.mr-auto
          a.btn.btn-outline-primary.nav-link.mr-3(href='/shillist') shillist
          a.btn.btn-outline-primary.nav-link.mr-3(href='/shitlist') shitlist
          a.btn.btn-outline-primary.nav-link.mr-3(href='/nep5') nep5
          a.btn.btn-outline-primary.nav-link.mr-3(href='/icolist') icolist
          a.btn.btn-outline-primary.nav-link.mr-3(href='/eatlist') eatlist
