doctype html
head
  include head.pug
  link(rel='stylesheet', href='/css/bootstrap-sortable.css')
  link(rel='stylesheet', href='/css/custom.css')
body
  main
    .jumbotron.bg-dark.text-white
      .container
        h1.display-3.mb-3 shillist
        .lead
          | Courtesy of 
          a(href="https://discord.gg/R8v48YA") NEO Discord 
          | #market
    .container
      p
        small#last-updated
      table.table.table-hover.sortable
        thead
          tr
            th User
            th Coin
            th Shill Date
            th Shill Price
            th Current Price
            th % Return
            th % NEO Return
            th(data-defaultsort="desc") % True Return
        tbody#shills
  footer
    include footer.pug
    script(type='text/javascript', src='/js/bootstrap-sortable.js')
    script(type='text/javascript', src='/js/index.js')
